header {
    border-top: none !important;    
}

.nuxt-progress {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 2px;
    width: 0%;
    opacity: 1;
    transition: width 0.1s, opacity 0.4s;
    background-color: #3b8070;
    z-index: 999999;
}

.nuxt-progress.nuxt-progress-notransition {
    transition: none;
}

.nuxt-progress-failed {
    background-color: red;
}

._glyph {
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #00918b;
}

.nuxt-progress {
    width: 12%;
}

.impression {
    display: none;
}

.js-hidden {
    display: list-item;
}

.answers-subheader-div {
    display: none;
}

.bottom-share-links {
    padding-top: 8px;
    margin-bottom: -8px;
}

#users-legend {
    float: left;
    margin-top: 25px;
    margin-bottom: 10px;
}

#js-user-header1 {
    box-sizing: content-box;
}

.errors {
    color: #dc3545 !important;
}

#tabs {
    float: left;
}

.additional-links{
    float: right;
    position: relative;
    top: 8px;
}

.share-edit-post {
    flex: 1 1 100px;
}

/* pre write page */

#btnProceed {
    text-align: right;
    width: 100%;
}

#btnProceed a {
    color: #888
}

/* write page */

#tag-editor {
    margin-top: 20px;
}

/* pagination */
.pager a {
    margin-left: 3px;
}

.pager > span {
    margin-left: 3px;
}

/* tag detail page */
#excerpt {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 50px; 
    white-space: nowrap;
}

/* detail post */
#qinfo .td {
    padding-left: 10px;
}

#sidebar .info1 {
    margin-left: 10px;
}

.add-cmt-answer:hover {
    text-decoration: underline;
}

.add-cmt-post:hover {
    text-decoration: underline;
}

.wmd-container .btn {
    color: white !important;
}

#totalAnswer:hover {
    text-decoration: underline;
    color: blue;
}

.hideForm {
    padding: 8px;
    background-color: #eee;
}

.gravatar {
    width: 48px;
    height: 48px;
}

.scale32 {
    width: 32px;
    height: 32px;
}

.scale36 {
    width: 36px;
    height: 36px;
}

.scale18 {
    width: 18px;
    height: 18px;
}

.vote-best-answer {
    cursor: pointer;
}

.custom-popup {
    position: absolute;
    top: 100.5px;
    left: 497px;
    display: none;
    min-width: 375px;
}

/* code snippet custom at detail post */
.padding10px0px {
    padding: 10px 0px;
}

#button-code-create {
    padding: 10px;
    background-color: #00a65a;
    color: white;
    text-decoration: none;
}

#button-code-list {
    padding: 10px;
    background-color: #ffc107;
    color: black;
    text-decoration: none;
}

#button-code-test {
    padding: 10px;
    background-color: silver;
    color: black;
    text-decoration: none;
}

.iframe-embedded {
    height: 247px;
    width: 646px;
    border: 1px solid #bbb;
}

.newComment {
    background-color: #dfebf4;
}

/* user detail page */
.button-follow {
    display: inline-block;
    width: 100px;
    height: 20px;
    font-size: 14px;
    /*margin-left:190px;*/
    background-color: #fff !important;
    border: 2px solid #f48024 !important;
    color: #f48024 !important;
}

.button-follow:hover {
    background-color: #f48024 !important;
    border: 2px solid #fff !important;
    color: #fff !important;
}

.followed {
    background-color: #f48024 !important;
    border: 2px solid #fff !important;
    color: #fff !important;
}

.followed:hover {
    background-color: #fff !important;
    border: 2px solid #f48024 !important;
    color: #f48024 !important;
}

.custom-username {
    height: 50px;
}
